{% extends 'base.html' %}

{% block content %}
<table class="profile_table mb-4">
    <tbody>
        <tr>
            <th class="header">名前</th>
            <th class="data">{{ user_data.first_name }}{{ user_data.last_name }}</th>
        </tr>
        <tr>
            <th class="header">ユーザーネーム</th>
            <th class="data">{{ user_data.user_name }}</th>
        </tr>
        <tr>
            <th class="header">メールアドレス</th>
            <th class="data">{{ user_data.email }}</th>
        </tr>
        <tr>
            <th class="header">アカウント作成日</th>
            <th class="data">{{ user_data.created }}</th>
        </tr>
        <tr>
            <th class="header">プロフィール画像</th>
            <th class="data"><img src="/media/{{ user_data.picture }}" style="width: 100px;"></th>
        </tr>
    </tbody>
</table>
<div class="button">
    <a href="{% url 'profile_edit' %}" class="btn">編集する</a>
</div>

{% endblock %}

