{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="profile_table mb-4">
        <tbody>
            <tr>
                <th class="header">名前</th>
                <td class="data form_wrap form_wrap-2">
                    {% render_field form.first_name class='form-control' placeholder='姓' %}
                    {% render_field form.last_name class='form-control' placeholder='名' %}
                </td>
            </tr>
            <tr>
                <th class="header">ユーザーネーム</th>
                <td class="data">
                    {% render_field form.user_name class='form-control' placeholder='ユーザーネーム' %}
                </td>
            </tr>
            <tr>
                <th class="header">所属</th>
                <td class="data">
                    {% render_field form.department class='form-control' placeholder='所属' %}
                </td>
            </tr>
            <tr>
                <th class="header">プロフィール画像</th>
                <td class="data">
                    {% render_field form.picture class='form-control' %}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="button">
        <button class="btn" type="submit">登録する</button>
    </div>
</form>


{% endblock %}


