
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #77a88d;
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.navbar-brand {
    color: white;
    padding-left: 10px;
}

.navbar-brand:hover {
    color: white;
}

.navbar {
    background-color: #77a88d;
    border-bottom: 1px solid white;
    position: sticky;
    top: 0px;
    z-index: 100;
}

main {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.card {
    margin: 1rem;
}

#left_sidebar {
    position: sticky;
    top: 50px;
    height: 600px;
    z-index: 99;
}

#right_sidebar {
    position: sticky;
    top: 50px;
    height: 600px;
    z-index: 99;
}

#sidebtn {
    margin: 1rem;
    width: 80%;
    color: white;
    font-weight: bold;
    background: #77a88d;
    padding: 18px 30px;
    border: 3px solid white;
    box-shadow: 0 5px 0 white;
    border-radius: 6px;
    display: inline-block;
    transition: .3s;
    text-decoration: none;
  }

  #sidebtn:hover {
    transform: translateY(5px);
    box-shadow: 0 0 0 white;
    color: white;
  }

  /*img {
    height: 10px;
    width: 10px;
  }